<%- include('partials/head')%>

<body>
    <%-include('partials/navbar')%>
    <h1>The Home Page <%= 4+4+1 %> </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum tempore minima distinctio nisi! Rem itaque cumque iste autem cupiditate laudantium! Quasi, tempora incidunt necessitatibus, aliquam tempore et ab nostrum alias sequi dolore expedita vitae porro sunt voluptate nulla facilis voluptas? Autem iure voluptatem dolorum praesentium!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque id adipisci omnis, minus animi ut aliquid dignissimos in odio nam suscipit, provident placeat eveniet asperiores amet atque expedita voluptate explicabo beatae similique eligendi! Cum, illum! In, dolorem odit voluptate amet officia eos perspiciatis autem, neque vitae quaerat, quidem inventore? Odio facilis sequi atque vel facere nulla eius! Ducimus velit corporis, ut recusandae dolorum doloribus odio molestias magni, magnam ex rem explicabo soluta neque iure quia quibusdam accusantium quam. Provident eveniet enim accusamus corporis optio pariatur sint quas at amet.</p>
</body>
</html>